* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    padding: 2rem;
    background: linear-gradient(#009688 0 20%, #D9DBD5 20% 100%);
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

#root {
    max-width: 1024px;
    margin: 0 auto;
    height: calc(100vh - 4rem);
}

button {
    border: 0;
    background-color: transparent;
    display: block;
    cursor: pointer;
}

img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}






.header {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #EAEAEA;
}

.header .avatar {
    align-items: center;
}

.header-icons button {
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #b1b1b1;
    margin-left: 1rem;
}








.contacts {
    background-color: #fff;
    width: 400px;
    overflow-y: scroll;
}

.contacts time {
    font-size: 0.75rem;
    color: #b1b1b1;
}

.contact-state {
    font-size: 0.8rem;
    color: #b1b1b1;
    margin-top: 0.2rem;
}

.contacts .alert-new-msg {
    background-color: #8EDAFC;
    padding: 1rem;
}

.contacts .alert-new-msg a {
    font-size: 0.8rem;
}

.contacts .alert-new-msg .bell {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: #fff;
    text-align: center;
    line-height: 3rem;
    flex-shrink: 0;
}

.contacts .alert-new-msg .bell::before {
    content: '\f1f6';
    font-family: 'Font Awesome 6 Free';
    font-size: 1.2rem;
    font-weight: 900;
    color: #8EDAFC;
}

.contacts .filter {
    padding: 1rem 2.5rem;
    font-size: 0.8rem;
    color: #b1b1b1;
}

.contacts .filter::before {
    content: '\f002';
    font-family: 'Font Awesome 6 Free';
    font-size: 1rem;
    font-weight: 900;
    color: #b1b1b1;
    margin-right: 1rem;
}

.contacts li {
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.contacts li:hover {
    background-color: #E9EBEB;
    cursor: pointer;
}







.msg {
    background-image: url('../img/mine.jpg');
    flex-grow: 1;
}

.msg-list {
    overflow-y: scroll;
    flex-grow: 1;
    padding: 1rem;
}

.msg .input-wrapper {
    background-color: #fff;
    padding: 1rem;
    height: 4.5rem;
    align-items: center;
}

.msg input {
    margin: 0.5rem;
    flex-grow: 1;
    padding: 0.5rem;
    border: 0;
}

.msg .input-wrapper button {
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    color: #b1b1b1;
}

.msg .msg-txt {
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 4px #00000008;
    margin: 0.5rem;
    width: fit-content;
    position: relative;
}

.msg .msg-txt time {
    position: absolute;
    bottom: 0.25rem;
    right: 0.5rem;
    font-size: 0.7em;
    color: #b1b1b1;
}

.msg .user-msg {
    background-color: #fff;
}

.msg .contact-msg {
    background-color: #D5F9BA;
    align-self: end;
}