/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bkg-1: #D9DBD4;
    --body-bkg-2: #009688;
    --div-bkg: #fff;
    --txt-primary: #333;
    --txt-secondary: #999;
    --icon: #b1b1b1;
    --li-hover: #E9EBEB;
    --header-bkg: #eaeaea;
    --alert: #8EDAFC;
    --bell: #fff;
    --msg-out: #D5F9BA;
    --msg-in: #eee;
    --msg-bkg: url('../img/mine.jpg');
    --input-bkg: #fff;
    --input-placeholder: #333;
}

:root.dark-mode {
    --body-bkg-1: #666;
    --body-bkg-2: #2c615c;
    --div-bkg: #333;
    --txt-primary: #eee;
    --txt-secondary: #b1b1b1;
    --icon: #ccc;
    --li-hover: #666;
    --header-bkg: #4d4d4d;
    --alert: #45788f;
    --bell: #eee;
    --msg-out: #749958;
    --msg-in: #999;
    --msg-bkg: #666;
    --input-bkg: #333;
    --input-placeholder: #eee;
}

:root {
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    padding: 2rem;
    background: linear-gradient(var(--body-bkg-2) 0 16%, var(--body-bkg-1) 16% 100%);
    color: var(--txt-primary);
}

ul {
    list-style: none;
}



/* stili comuni */

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

main {
    max-width: 1024px;
    min-width: 768px;
    margin: 0 auto;
    height: calc(100vh - 4rem);
}

button {
    border: 0;
    background-color: transparent;
    display: block;
    cursor: pointer;
}

img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.empty-msg {
    text-align: center;
    color: var(--icon);
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto;
    padding: 1rem;
    border-radius: 500px;
}




/* intestazioni */

.header {
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: var(--header-bkg);
    height: 4rem;
    position: relative;
}

.header-icons button {
    font-size: 1.5rem;
    color: var(--icon);
    padding: 0.5rem;
}

.header-icons .delete-chat {
    position: absolute;
    right: 2.5rem;
    top: 1.2rem;
    background-color: var(--div-bkg);
    color: var(--txt);
    font-size: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 4px #00000008;
    cursor: pointer;
}

.header-icons .delete-chat li {
    padding: 0.5rem;
}

.new-contact-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--div-bkg);
    border-radius: 1rem;
    box-shadow: 0 0 4px 4px #00000040;
    padding: 1rem;
    z-index: 20;
}

.new-contact-wrapper .title {
    text-transform: uppercase;
    font-weight: 600;
}

.new-contact-wrapper > *:not(:last-child) {
    margin-bottom: 1rem;
}

.new-contact-wrapper input{
    padding: 0.25rem;
    margin-top: 0.25rem;
    border: 1px var(--input-placeholder) solid;
    border-radius: 0.25rem;
}

.new-contact-wrapper input::placeholder {
    color: var(--input-placeholder);
}

.new-contact-wrapper button {
    background-color: var(--body-bkg-2);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.25rem;
}






/* colonna contatti */

.contacts {
    background-color: var(--div-bkg);
    width: 400px;
    flex-shrink: 0;
}

.contact-name {
    text-transform: capitalize;
}

.contacts time {
    font-size: 0.75rem;
    color: var(--txt-secondary);
}

.contact-last-msg {
    font-size: 0.8rem;
    color: var(--txt-secondary);
    margin-top: 0.2rem;
}

.contacts .alert-new-msg {
    background-color: var(--alert);
    padding: 1rem;
}

.contacts .alert-new-msg a {
    font-size: 0.8rem;
}

.contacts .alert-new-msg .bell {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: var(--bell);
    text-align: center;
    line-height: 3rem;
    flex-shrink: 0;
}

.contacts .alert-new-msg .bell::before {
    content: '\f1f6';
    font-family: 'Font Awesome 6 Free';
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--alert);
}

.contacts .filter {
    padding: 1rem 2.5rem;
    font-size: 0.8rem;
    color: var(--icon);
}
.contacts .filter input {
    border: 0;
    flex-grow: 1;
    padding: 0.2rem;
    background: var(--input-bkg);
    color: var(--txt-primary);
}

.contacts .filter input::placeholder {
    color: var(--input-placeholder);
}

.contacts .filter button {
    color: var(--icon);
    margin-right: 1rem;
}

.contacts ul {
    overflow-y: scroll;
    flex-grow: 1;
}

.contacts li {
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.contacts li:hover, .contact-active {
    background-color: var(--li-hover);
    cursor: pointer;
}





/* colonna messaggi */

.msg {
    background: var(--msg-bkg);
    flex-grow: 1;
}

.msg-list {
    overflow-y: scroll;
    flex-grow: 1;
    padding: 3rem;
}

.msg .input-wrapper {
    background-color: var(--div-bkg);
    padding: 1rem;
    height: 4.5rem;
}

.msg .input-wrapper input {
    margin: 0.5rem;
    flex-grow: 1;
    padding: 0.5rem;
    border: 0;
    background: var(--input-bkg);
    color: var(--txt-primary);
}

.msg .input-wrapper input::placeholder{
    color: var(--input-placeholder);
}

.msg .input-wrapper button {
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    color: var(--icon);
}

.msg .msg-txt {
    padding: 1rem 1.5rem 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 4px #00000008;
    margin: 0.5rem;
    min-width: 30%;
    position: relative;
}

.msg .msg-txt:hover .msg-options-dots {
    display: block;
}

.msg .msg-txt time {
    font-size: 0.7em;
    color: var(--icon);
    align-self: end;
    margin-top: 0.3rem;
}

.msg .in {
    background-color: var(--msg-in);
    align-self: start;
}

.msg .out {
    background-color: var(--msg-out);
    align-self: end;
}

.msg .msg-options-dots {
    position: absolute;
    right: 0.3rem;
    top: 0.5rem;
    font-size: 1.2rem;
    color: var(--icon);
    display: none;
    padding: 0.2rem;
}

.msg .msg-options {
    position: absolute;
    right: 1.75rem;
    top: -2.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    background-color: var(--div-bkg);
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 4px #00000008;
    z-index: 10;
}

.msg .msg-options li {
    padding: 0.3rem 0;
    cursor: pointer;
}

.msg .msg-options li i {
    margin-right: 0.2rem;
}
