<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Boolzapp</title>
</head>

<body>

    <div id="root" class="row">
        <!-- colonna contatti -->
        <div class="contacts column">

            <!-- intestazione utente -->
            <div class="header row">
                <div class="avatar row">
                    <img :src="'img/' + user.avatar" :alt="user.name">
                    <p class="contact-name">{{ user.name }}</p>
                </div>
                <div class="header-icons row">
                    <button><i class="fa-solid fa-circle-notch"></i></button>
                    <button><i class="fa-solid fa-message"></i></button>
                    <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>
            </div>
            <!-- / -->

            <!-- richiesta notifiche -->
            <div class="alert-new-msg row">
                <div class="bell"></div>
                <div>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <!-- / -->

            <!-- filtro contatti -->
            <div class="filter row">
                <button id="btnFilter"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" id="input-filter" placeholder="Cerca o inizia una nuova chat" v-model.trim="filteredInput">
            </div>
            <!-- / -->

            <!-- lista contatti -->
            <ul>
                <li class="row" v-for="(contact, index) in filterList(filteredInput)" @click="getSelectedContact(index), getChat(contact.id)" :class="{'contact-active':selected==index}">
                    <div class="row">
                        <img :src="'img/' + contact.avatar" :alt="contact.name">
                        <div>
                            <p class="contact-name">{{ contact.name }}</p>
                            <p class="contact-last-msg">{{ contact.lastActivity }}</p>
                        </div>
                    </div>

                    <time>{{ contact.lastActivityTime }}</time>
                </li>
            </ul>
            <!-- / -->
        </div>
        <!-- / -->

        <!-- colonna messaggi -->
        <div class="msg column">

            <!-- intestazione utente selezionato -->
            <div class="header row">
                <div class="avatar row">
                    <img src="img/avatar_1.jpg" alt="">
                    <div>
                        <p class="contact-name">Michele</p>
                        <p class="contact-last-msg">Ultimo accesso oggi alle 12:00</p>
                    </div>
                </div>
                <div class="header-icons row">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button><i class="fa-solid fa-paperclip"></i></button>
                    <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>
            </div>
            <!-- / -->

            <!-- elenco messaggi -->
            <div class="msg-list column">

                <div class="msg-txt contact-msg" v-for="msg in chatSelected" :class="msg.type=='in' ? 'in' : 'out'">
                    <p>{{ msg.text }}</p>
                    <time>{{ formatDate(msg.dateTime) }}</time>
                </div>

            </div>
            <!-- / -->

            <!-- inserimento nuovo messaggio -->
            <div class="input-wrapper row">
                <button><i class="fa-regular fa-face-smile"></i></button>
                <input type="text" id="inputMsg" placeholder="Scrivi un messaggio">
                <button><i class="fa-solid fa-microphone"></i></button>
            </div>
            <!-- / -->
        </div>
        <!-- / -->

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <script src="js/data.js"></script>
    <script src="js/main.js"></script>
</body>

</html>