<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Boolzapp</title>
</head>

<body>

    <main id="app" class="row">
        <!-- colonna contatti -->
        <div class="contacts column">

            <!-- intestazione utente -->
            <div class="header row">
                <div class="avatar row">
                    <img :src="'img/' + user.avatar" :alt="user.name">
                    <p class="contact-name">{{ user.name }}</p>
                </div>
                <div class="header-icons row">
                    <button @click="setFontSize('small')" style="font-size: 13px">A</button>
                    <button @click="setFontSize('default')" style="font-size: 16px">A</button>
                    <button @click="setFontSize('large')" style="font-size: 20px">A</button>

                    <button @click="setDarkMode"><i class="fa-solid fa-circle-half-stroke"></i></button>
                    <button><i class="fa-solid fa-message"></i></button>
                    <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>
            </div>
            <!-- / -->

            <!-- richiesta notifiche -->
            <div class="alert-new-msg row">
                <div class="bell"></div>
                <div>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <!-- / -->

            <!-- filtro contatti -->
            <div class="filter row">
                <button id="btnFilter"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" id="input-filter" placeholder="Cerca o inizia una nuova chat" v-model.trim="searchContact">
            </div>
            <!-- / -->

            <!-- lista contatti -->
            <ul>
                <li class="row" v-for="(contact, index) in filterList(searchContact)" @click="activeIndexContact = index, contactId = contact.id, getChat(contact.id)" :class="{'contact-active':activeIndexContact == index}">
                    <div class="row">
                        <img :src="'img/' + contact.avatar" :alt="contact.name">
                        <div>
                            <p class="contact-name">{{ contact.name }}</p>
                            <p v-if="contact.message.length != 0" class="contact-last-msg">{{ contact.message[contact.message.length -1].text }}</p>
                            <p v-else class="contact-last-msg">chat vuota</p>
                        </div>
                    </div>

                    <time v-if="contact.message.length != 0">{{ formatDate(getLastMsgTime(index)) }}</time>
                    <time v-else></time>
                </li>
            </ul>
            <!-- / -->
        </div>
        <!-- / -->

        <!-- colonna messaggi -->
        <div class="msg column">

            <!-- intestazione utente selezionato -->
            <div v-if="activeIndexContact != null" class="header row">
                <div class="avatar row">
                    <img :src="'img/' + directory[activeIndexContact].avatar" :alt="directory[activeIndexContact].name">
                    <div>
                        <p class="contact-name">{{ directory[activeIndexContact].name }}</p>
                        <p v-if="currentChat[0].message.length != 0" class="contact-last-msg">Ultimo accesso {{ formatDate(getLastMsgTime(activeIndexContact)) }}</p>

                        <p class="contact-last-msg" v-else>Chat vuota</p>
                    </div>
                </div>
                <div class="header-icons row">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button><i class="fa-solid fa-paperclip"></i></button>
                    <button @click="btnDeleteChat = !btnDeleteChat"><i class="fa-solid fa-ellipsis-vertical"></i></button>

                    <ul v-show="btnDeleteChat" class="delete-chat">
                        <li @click="deleteAllMsg"><i class="fa-solid fa-trash"></i> Elimina tutti i messaggi</li>
                        <li @click="deleteChat"><i class="fa-solid fa-trash"></i> Elimina l'intera chat</li>
                    </ul>
                </div>
            </div>

            <div v-else class="header row"></div>
            <!-- / -->

            <!-- elenco messaggi -->
            <div v-if="activeIndexContact != null" class="msg-list column">

                <p class="empty-msg" v-if="currentChat[0].message.length == 0">chat vuota</p>
                
                <div class="msg-txt contact-msg column" v-else v-for="(msg, i) in directory[activeIndexContact].message" :class="msg.type == 'in' ? 'in' : 'out'" >

                    <p>{{ msg.text }}</p>
                    <time>{{ formatDate(msg.dateTime) }}</time>

                    <button class="msg-options-dots" @click="activeMsgId == null ? activeMsgId = msg.idMsg : activeMsgId = null"><i class="fa-solid fa-angle-down"></i></button>

                    <ul class="msg-options" v-show="activeMsgId == msg.idMsg">
                        <li><i class="fa-solid fa-circle-info"></i>Info</li>
                        <li @click="deleteMsg(i)"><i class="fa-solid fa-trash"></i>Elimina</li>
                    </ul>
                </div>              

            </div>
            <div v-else class="msg-list column">
                <p class="empty-msg">Seleziona un contatto per iniziare a messaggiare</p>
            </div>
            <!-- / -->

            <!-- inserimento nuovo messaggio -->
            <div v-if="activeIndexContact != null" class="input-wrapper row">
                
                <button><i class="fa-regular fa-face-smile"></i></button>

                <input type="text" id="inputNewMsg" placeholder="Scrivi un messaggio" v-model.trim="currentChat[0].newMsg" @keyup.enter="sendNewMsg">
                
                <button v-if="currentChat[0].newMsg == ''"><i class="fa-solid fa-microphone"></i></button>
                <button v-else @click="sendNewMsg"><i class="fa-solid fa-paper-plane"></i></button>

            </div>
            <div v-else class="input-wrapper row"></div>
            <!-- / -->
        </div>
        <!-- / -->

    </main>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>